---
import "../styles/global.css";
import XP from '../components/XP.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <Nav/>
    <div class=" w-full h-full bg-black flex flex-row justify-center items-center">
    <XP text="Error page not found"/>
</div>
</Layout>
