---
import "../styles/global.css";
---
<body class="bg-black flex flex-col items-center align-middle text-white">
    <div class=" text-center mt-50 mb-30"><h1 class="text-9xl">Error de prerrenderizacion</h1></div>
   
</body>
