---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import Titulo from '../components/Titulo.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Nav/>
    <div class="mt-30 mx-30">
        <Titulo title="Contacto" description='Si quieres contactar conmigo, puedes a traves de los siguientes metodos.'></Titulo>
    </div>
    <Footer/>
</Layout>